name: CI

on: push

jobs:
  format:
    name: Formatted correctly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.14.0
      - name: Install modules
        run: npm ci
      - name: Run formatting
        run: npm run format-check
  lint:
    name: No lint errors
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.14.0
      - name: Install modules
        run: npm ci
      - name: Run linting
        run: npm run lint
  test:
    name: Unit tests pass
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.14.0
      - name: Install modules
        run: npm ci
      - name: Run tests
        run: npm run test-coverage
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: dan-schel/trainquery-melbourne
  confgen:
    name: Config aligns with latest GTFS data
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.14.0
      - name: Install modules
        run: npm ci
      - name: Run comparison script
        run: npm run compare-config-to-gtfs
        env:
          RELAY_KEY: ${{ secrets.RELAY_KEY }}
